@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: rgb(13, 13, 15);
    background: linear-gradient(3deg, rgba(13, 13, 15, 1) 35%, rgba(20, 20, 22, 1) 100%);
   
}

@layer base {
    .btn-white {
        @apply border-2 px-6 py-2 text-slate-300 transition-colors duration-300 uppercase font-bold;
        @apply hover:bg-gray-50 hover:text-black ;
    }
    
}

@layer utilities{
    .text-5xl {
        font-size: 3.5rem;
    }
}
